body {
    font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with your preferred font */
}

blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #ffc107; /* Change the border color to your preference */
    padding: 10px;
    margin: 0;
}

blockquote p {
    margin-bottom: 0; /* Remove the default margin from paragraphs inside blockquotes */
}

p.card-footer-bottom{
    position: absolute;
    bottom: -20px;
    right: 2px;
}

.card {
    border: none; /* Remove borders */
    border-radius: 3px; /* Set the border-radius to 1px */
}

.texti-overlay {
    position: absolute;
    top: 1px;
    right: 12px;
    z-index: 2; /* Ensure the text div appears above other elements */
    display: flex;
    justify-content: flex-end;
}

.ibullaYear{
  height: 100%;
  background: #ffffff;
  box-shadow: 5px 6px #6c757d;
}

.ibullaYear a {
  display: block; /* Make the link a block-level element */
  width: 100%; /* Take up the full width of the div */
  height: 100%; /* Take up the full height of the div */
  text-decoration: none; /* Remove the underline on the link */
}

/* Custom CSS for the image line-up class */
.image-line-up {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Adjust as needed */
}

        /* Custom CSS for individual images */
.image-line-up img {
            max-width: 100%;
            height: auto;
            padding: 5px;
}

.center-button {
            display: flex;
            justify-content: center;
            align-items: center;
}

   /* Custom CSS for alternating row background colors */
    table.cv-table {
      width: 100%;
      border-collapse: collapse;
      margin: 1em 0em;
    }

    table.cv-table th, table.cv-table td {
      padding: 8px;
      border: 0px solid #ccc;
      text-align: left;
    }

    table.cv-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }